*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: grey;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1{
    background-color: blue;
    color: white;
    height: 300px;
    width: 150px;
    margin-right: 100px;
    align-content: center;
    padding-left: 50px;
    transform: scale(1);
    transition: .2s;
}
.card1:hover{
    transform: scale(1.2);
    transition: .2s;
}