*{
    margin: 0; padding: 0;
}
.main{
    background-color: grey;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.box{
    background-color: white;
    width: 300px;
    height: 300px;
    margin-right: 100px;
    transition: .2s ease;
    padding: 20px 50px;
}
.box:hover{
    background-color: purple;
    transition: .2s ease;
    color: white;
}