*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    height: 100vh;
}
.card{
    background-color: white;
    width: 25%;
    height: 80%;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px;
    padding: 20px;
}
hr{
    width: 90%;
}
