*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.main{
    width: 100%;
    height: 100vh;
    padding: 50px 60px;
    display: flex;
    gap: 50px;
    flex-direction: row;
}
.box1{
    width: 60%;
    height: 100%;
    /* background-color: red; */
}
img{
    width: 100%;
    height: 80%;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.box2{
    background-color: aquamarine;
    width: 40%;
    height: 60%;
    padding: 30px;
}

@media screen and (max-width:767px){
    .main{
        flex-direction: column;
    }
    .box1{
        width: 100%;
        height: 60%
    }
    .box2{
        width: 100%;
        height: 40%;
    }
    h1{
        font-size: 12px;
    }
}





/* sans-serif eshte pa zbukurime */
/* serif eshte me zbukurime */