*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
.main{
/* 
    height: 100vh; */
    /* width: 100vw; */
    display: flex;
}
header{
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.box1{
    background-color: plum;
    /* width: 80%; */
    /* height: 30%; */
    margin: auto;
    height: 350px;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
}