.A{
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    color: blue;
    font-size: 100px;
    overflow: hidden;
}
.B{
    width: 100px;
    height: 100px;
    border: 10px solid red;
    color: red;
    font-size: 100px;
    overflow: hidden;
}
.C{
    width: 100px;
    height: 100px;
    border: 10px solid green;
    color: green;
    font-size: 100px;
    overflow: hidden;
}
.D{
    width: 100px;
    height: 100px;
    border: 10px solid blue;
    color: blue;
    font-size: 100px;
    overflow: hidden;
}
.E{
    width: 100px;
    height: 100px;
    border: 10px solid green;
    color: green;
    font-size: 100px;
    overflow: hidden;
}
.F{
    width: 100px;
    height: 100px;
    border: 10px solid red;
    color: red;
    font-size: 100px;
    overflow: hidden;
}
.kutia{
    border: 3px solid black;
    display: inline-block;
}