div.original {
    width: 100px;
    height: 100px;
    margin: 50px;
    border: 4px solid black;
    perspective: 80px;
}
div.rotate {
    width: 100px;
    height: 100px;
    background-color: orange;
    transform: rotate3d(1, 1, 1, 30deg);
}