*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    padding: 30px 50px;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
h1{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.span1{
    font-weight: 400;
    text-transform: capitalize;
    font-size: 16px;
}
.main{
    display: flex;
    padding: 30px 50px;
    gap: 50px;
    background-color: #d2c7f0;
    margin: 0px 50px;
}
.content p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content{
    width: 40%;
}
.img{
    width: 60%;
    height: 350px;
    background-image: url(toa-heftiba-FV3GConVSss-unsplash\ 1\ \(1\).png);
    background-size: cover;
}   