.main{
    width: 300px;
    height: 300px;
    background-color: aqua;
    transform: translate(200px, 500px);
    /* 200px - majtas dhe djathtas & 500px lart dhe posht */
    transform: scale(1);
    transform: rotate(30deg);
    transform: skew(20deg);
}